In [1]:
import pandas as pd

Excelファイルの読み込み。  
header=[0, 1]で、1行目と2行目をヘッダーに指定。  
index_col=[0, 1]で、1列目と2列目をインデックス列に指定

In [2]:
df = pd.read_excel('data/sample3.xlsx', header=[0, 1], index_col=[0, 1])

In [3]:
df

                 AREA1                            AREA2                 AREA3  \
               COMP299   COMP6740    COMP772   COMP3302   COMP7355   COMP6708
ACCT00 CLS0        NaN        NaN   292243.0   627233.0   684402.0        NaN
       CLS6   250362.0        NaN   424348.0   906901.0        NaN        NaN
       CLS9   246442.0   975591.0        NaN   584242.0        NaN        NaN
ACCT03 CLS1   238531.0    22889.0        NaN        NaN    39768.0   293427.0
       CLS6   534486.0        NaN        NaN        NaN        NaN        NaN
       CLS8    46874.0    12380.0        NaN        NaN        NaN        NaN
       CLS8    39338.0    64984.0        NaN        NaN   112251.0   617589.0
       CLS7        NaN        NaN   195207.0        NaN   696019.0        NaN
       CLS9   275231.0        NaN        NaN        NaN        NaN   288340.0
ACCT07 CLS5    77691.0        NaN        NaN   541740.0        NaN   890638.0
ACCT04 CLS8        NaN   125892.0    44485.0   581387.0   612757.0        NaN
ACCT03 CLS0   565206.0   299166.0        NaN        NaN   438105.0   284647.0
ACCT07 CLS7        NaN        NaN        NaN        NaN        NaN   456796.0
ACCT00 CLS4        NaN   831372.0   938043.0   769364.0        NaN        NaN
ACCT02 CLS0   805579.0        NaN   130889.0   169728.0        NaN        NaN
ACCT08 CLS2        NaN    39892.0        NaN   463403.0        NaN   650306.0
ACCT02 CLS5        NaN   202926.0   962598.0        NaN        NaN   893765.0
小計     CLS5  3079740.0  2575092.0  2987813.0  4643998.0  2583302.0  4375508.0
計      CLS5  8642645.0        NaN        NaN  7227300.0        NaN  4375508.0

                            小計                  計
            Unnamed: 8_level_1 Unnamed: 9_level_1
ACCT00 CLS0            1603878          4991764.0
       CLS6            1581611                NaN
       CLS9            1806275                NaN
ACCT03 CLS1             594615          3477314.0
       CLS6             534486                NaN
       CLS8              59254                NaN
       CLS8             834162                NaN
       CLS7             891226                NaN
       CLS9             563571                NaN
ACCT07 CLS5            1510069          1510069.0
ACCT04 CLS8            1364521          1364521.0
ACCT03 CLS0            1587124          1587124.0
ACCT07 CLS7             456796           456796.0
ACCT00 CLS4            2538779          2538779.0
ACCT02 CLS0            1106196          1106196.0
ACCT08 CLS2            1153601          1153601.0
ACCT02 CLS5            2059289          2059289.0
小計     CLS5           20245453         20245453.0
計      CLS5           20245453         20245453.0

Pandasでは、NaNがある列はfloatになってしまう。intにはできない。そもそもExcelの数値はすべてfloatで持っているので気にしない。

計の行と列が邪魔になるので除く  
最終行や最終列は-1で指定できる  
例: 次の式は最終セルの値を表示

In [4]:
df.iat[-1, -1]

20245453.0

今回は、最後の2行及び最後の2列を除く必要があるので-2を指定する  
以下の式で、最後の2行、最後の2列を除いた配列を取得できる  
cross_df.iloc[0:-2, 0:-2] の省略型です。

In [5]:
df = df.iloc[:-2, :-2]

In [6]:
df

                AREA1                         AREA2               AREA3
              COMP299  COMP6740   COMP772  COMP3302  COMP7355  COMP6708
ACCT00 CLS0       NaN       NaN  292243.0  627233.0  684402.0       NaN
       CLS6  250362.0       NaN  424348.0  906901.0       NaN       NaN
       CLS9  246442.0  975591.0       NaN  584242.0       NaN       NaN
ACCT03 CLS1  238531.0   22889.0       NaN       NaN   39768.0  293427.0
       CLS6  534486.0       NaN       NaN       NaN       NaN       NaN
       CLS8   46874.0   12380.0       NaN       NaN       NaN       NaN
       CLS8   39338.0   64984.0       NaN       NaN  112251.0  617589.0
       CLS7       NaN       NaN  195207.0       NaN  696019.0       NaN
       CLS9  275231.0       NaN       NaN       NaN       NaN  288340.0
ACCT07 CLS5   77691.0       NaN       NaN  541740.0       NaN  890638.0
ACCT04 CLS8       NaN  125892.0   44485.0  581387.0  612757.0       NaN
ACCT03 CLS0  565206.0  299166.0       NaN       NaN  438105.0  284647.0
ACCT07 CLS7       NaN       NaN       NaN       NaN       NaN  456796.0
ACCT00 CLS4       NaN  831372.0  938043.0  769364.0       NaN       NaN
ACCT02 CLS0  805579.0       NaN  130889.0  169728.0       NaN       NaN
ACCT08 CLS2       NaN   39892.0       NaN  463403.0       NaN  650306.0
ACCT02 CLS5       NaN  202926.0  962598.0       NaN       NaN  893765.0

イテレータを使って1列に並べる  
Qiitaの記事にあわせたので、iterrowsを使っている。  
カラムで廻す場合は、iteritemsを使う

In [7]:
sr = pd.Series()
for index_id, row in df.iterrows():
    row.index = row.index.map(lambda x, i=index_id: i + x)
    sr = sr.append(row)

In [8]:
sr

(ACCT00, CLS0, AREA1, COMP299)          NaN
(ACCT00, CLS0, AREA1, COMP6740)         NaN
(ACCT00, CLS0, AREA1, COMP772)     292243.0
(ACCT00, CLS0, AREA2, COMP3302)    627233.0
(ACCT00, CLS0, AREA2, COMP7355)    684402.0
(ACCT00, CLS0, AREA3, COMP6708)         NaN
(ACCT00, CLS6, AREA1, COMP299)     250362.0
(ACCT00, CLS6, AREA1, COMP6740)         NaN
(ACCT00, CLS6, AREA1, COMP772)     424348.0
(ACCT00, CLS6, AREA2, COMP3302)    906901.0
(ACCT00, CLS6, AREA2, COMP7355)         NaN
(ACCT00, CLS6, AREA3, COMP6708)         NaN
(ACCT00, CLS9, AREA1, COMP299)     246442.0
(ACCT00, CLS9, AREA1, COMP6740)    975591.0
(ACCT00, CLS9, AREA1, COMP772)          NaN
(ACCT00, CLS9, AREA2, COMP3302)    584242.0
(ACCT00, CLS9, AREA2, COMP7355)         NaN
(ACCT00, CLS9, AREA3, COMP6708)         NaN
(ACCT03, CLS1, AREA1, COMP299)     238531.0
(ACCT03, CLS1, AREA1, COMP6740)     22889.0
(ACCT03, CLS1, AREA1, COMP772)          NaN
(ACCT03, CLS1, AREA2, COMP3302)         NaN
(ACCT03, CLS1, AREA2, COMP7355)     39768.0
(ACCT03, CLS1, AREA3, COMP6708)    293427.0
(ACCT03, CLS6, AREA1, COMP299)     534486.0
(ACCT03, CLS6, AREA1, COMP6740)         NaN
(ACCT03, CLS6, AREA1, COMP772)          NaN
(ACCT03, CLS6, AREA2, COMP3302)         NaN
(ACCT03, CLS6, AREA2, COMP7355)         NaN
(ACCT03, CLS6, AREA3, COMP6708)         NaN
                                     ...
(ACCT07, CLS7, AREA1, COMP299)          NaN
(ACCT07, CLS7, AREA1, COMP6740)         NaN
(ACCT07, CLS7, AREA1, COMP772)          NaN
(ACCT07, CLS7, AREA2, COMP3302)         NaN
(ACCT07, CLS7, AREA2, COMP7355)         NaN
(ACCT07, CLS7, AREA3, COMP6708)    456796.0
(ACCT00, CLS4, AREA1, COMP299)          NaN
(ACCT00, CLS4, AREA1, COMP6740)    831372.0
(ACCT00, CLS4, AREA1, COMP772)     938043.0
(ACCT00, CLS4, AREA2, COMP3302)    769364.0
(ACCT00, CLS4, AREA2, COMP7355)         NaN
(ACCT00, CLS4, AREA3, COMP6708)         NaN
(ACCT02, CLS0, AREA1, COMP299)     805579.0
(ACCT02, CLS0, AREA1, COMP6740)         NaN
(ACCT02, CLS0, AREA1, COMP772)     130889.0
(ACCT02, CLS0, AREA2, COMP3302)    169728.0
(ACCT02, CLS0, AREA2, COMP7355)         NaN
(ACCT02, CLS0, AREA3, COMP6708)         NaN
(ACCT08, CLS2, AREA1, COMP299)          NaN
(ACCT08, CLS2, AREA1, COMP6740)     39892.0
(ACCT08, CLS2, AREA1, COMP772)          NaN
(ACCT08, CLS2, AREA2, COMP3302)    463403.0
(ACCT08, CLS2, AREA2, COMP7355)         NaN
(ACCT08, CLS2, AREA3, COMP6708)    650306.0
(ACCT02, CLS5, AREA1, COMP299)          NaN
(ACCT02, CLS5, AREA1, COMP6740)    202926.0
(ACCT02, CLS5, AREA1, COMP772)     962598.0
(ACCT02, CLS5, AREA2, COMP3302)         NaN
(ACCT02, CLS5, AREA2, COMP7355)         NaN
(ACCT02, CLS5, AREA3, COMP6708)    893765.0
Length: 102, dtype: float64

NaNのデータは不要なので削除

In [9]:
sr = sr.dropna()

In [10]:
sr

(ACCT00, CLS0, AREA1, COMP772)     292243.0
(ACCT00, CLS0, AREA2, COMP3302)    627233.0
(ACCT00, CLS0, AREA2, COMP7355)    684402.0
(ACCT00, CLS6, AREA1, COMP299)     250362.0
(ACCT00, CLS6, AREA1, COMP772)     424348.0
(ACCT00, CLS6, AREA2, COMP3302)    906901.0
(ACCT00, CLS9, AREA1, COMP299)     246442.0
(ACCT00, CLS9, AREA1, COMP6740)    975591.0
(ACCT00, CLS9, AREA2, COMP3302)    584242.0
(ACCT03, CLS1, AREA1, COMP299)     238531.0
(ACCT03, CLS1, AREA1, COMP6740)     22889.0
(ACCT03, CLS1, AREA2, COMP7355)     39768.0
(ACCT03, CLS1, AREA3, COMP6708)    293427.0
(ACCT03, CLS6, AREA1, COMP299)     534486.0
(ACCT03, CLS8, AREA1, COMP299)      46874.0
(ACCT03, CLS8, AREA1, COMP6740)     12380.0
(ACCT03, CLS8, AREA1, COMP299)      39338.0
(ACCT03, CLS8, AREA1, COMP6740)     64984.0
(ACCT03, CLS8, AREA2, COMP7355)    112251.0
(ACCT03, CLS8, AREA3, COMP6708)    617589.0
(ACCT03, CLS7, AREA1, COMP772)     195207.0
(ACCT03, CLS7, AREA2, COMP7355)    696019.0
(ACCT03, CLS9, AREA1, COMP299)     275231.0
(ACCT03, CLS9, AREA3, COMP6708)    288340.0
(ACCT07, CLS5, AREA1, COMP299)      77691.0
(ACCT07, CLS5, AREA2, COMP3302)    541740.0
(ACCT07, CLS5, AREA3, COMP6708)    890638.0
(ACCT04, CLS8, AREA1, COMP6740)    125892.0
(ACCT04, CLS8, AREA1, COMP772)      44485.0
(ACCT04, CLS8, AREA2, COMP3302)    581387.0
(ACCT04, CLS8, AREA2, COMP7355)    612757.0
(ACCT03, CLS0, AREA1, COMP299)     565206.0
(ACCT03, CLS0, AREA1, COMP6740)    299166.0
(ACCT03, CLS0, AREA2, COMP7355)    438105.0
(ACCT03, CLS0, AREA3, COMP6708)    284647.0
(ACCT07, CLS7, AREA3, COMP6708)    456796.0
(ACCT00, CLS4, AREA1, COMP6740)    831372.0
(ACCT00, CLS4, AREA1, COMP772)     938043.0
(ACCT00, CLS4, AREA2, COMP3302)    769364.0
(ACCT02, CLS0, AREA1, COMP299)     805579.0
(ACCT02, CLS0, AREA1, COMP772)     130889.0
(ACCT02, CLS0, AREA2, COMP3302)    169728.0
(ACCT08, CLS2, AREA1, COMP6740)     39892.0
(ACCT08, CLS2, AREA2, COMP3302)    463403.0
(ACCT08, CLS2, AREA3, COMP6708)    650306.0
(ACCT02, CLS5, AREA1, COMP6740)    202926.0
(ACCT02, CLS5, AREA1, COMP772)     962598.0
(ACCT02, CLS5, AREA3, COMP6708)    893765.0
dtype: float64

インデックスがtuppleになっているので、マルチインデックスに戻す

In [11]:
sr.index = pd.MultiIndex.from_tuples(sr.index)

In [12]:
sr

ACCT00  CLS0  AREA1  COMP772     292243.0
              AREA2  COMP3302    627233.0
                     COMP7355    684402.0
        CLS6  AREA1  COMP299     250362.0
                     COMP772     424348.0
              AREA2  COMP3302    906901.0
        CLS9  AREA1  COMP299     246442.0
                     COMP6740    975591.0
              AREA2  COMP3302    584242.0
ACCT03  CLS1  AREA1  COMP299     238531.0
                     COMP6740     22889.0
              AREA2  COMP7355     39768.0
              AREA3  COMP6708    293427.0
        CLS6  AREA1  COMP299     534486.0
        CLS8  AREA1  COMP299      46874.0
                     COMP6740     12380.0
                     COMP299      39338.0
                     COMP6740     64984.0
              AREA2  COMP7355    112251.0
              AREA3  COMP6708    617589.0
        CLS7  AREA1  COMP772     195207.0
              AREA2  COMP7355    696019.0
        CLS9  AREA1  COMP299     275231.0
              AREA3  COMP6708    288340.0
ACCT07  CLS5  AREA1  COMP299      77691.0
              AREA2  COMP3302    541740.0
              AREA3  COMP6708    890638.0
ACCT04  CLS8  AREA1  COMP6740    125892.0
                     COMP772      44485.0
              AREA2  COMP3302    581387.0
                     COMP7355    612757.0
ACCT03  CLS0  AREA1  COMP299     565206.0
                     COMP6740    299166.0
              AREA2  COMP7355    438105.0
              AREA3  COMP6708    284647.0
ACCT07  CLS7  AREA3  COMP6708    456796.0
ACCT00  CLS4  AREA1  COMP6740    831372.0
                     COMP772     938043.0
              AREA2  COMP3302    769364.0
ACCT02  CLS0  AREA1  COMP299     805579.0
                     COMP772     130889.0
              AREA2  COMP3302    169728.0
ACCT08  CLS2  AREA1  COMP6740     39892.0
              AREA2  COMP3302    463403.0
              AREA3  COMP6708    650306.0
ACCT02  CLS5  AREA1  COMP6740    202926.0
                     COMP772     962598.0
              AREA3  COMP6708    893765.0
dtype: float64

Excelに書き出し  
前の行と同じ項目名の場合は空白になります。  
人間が見る場合は、その方が見やすいのですが。。。

In [13]:
sr.to_excel('data/sample3_result.xlsx')

クリップボードにペーストできます
クリップボードの場合は、項目名に空白ができずにQiitaの記事と同じ形式になります

In [14]:
sr.to_clipboard()

Qiitaの記事と同じ形式でExcelに出力したい場合

In [15]:
df2 = pd.DataFrame(sr)

In [16]:
df2 = df2.reset_index()

In [17]:
df2.to_excel('data/sample3_result2.xlsx', header=False, index=False)